{
  "schemes": [
    "https"
  ],
  "swagger": "2.0",
  "info": {
    "description": "Immutable X API",
    "title": "Immutable X API",
    "contact": {
      "name": "Immutable API Support",
      "url": "https://support.immutable.com",
      "email": "support@immutable.com"
    },
    "version": "3.0"
  },
  "host": "api.sandbox.x.immutable.com",
  "basePath": "/",
  "paths": {
    "/v1/assets": {
      "get": {
        "description": "Get a list of assets",
        "produces": [
          "application/json"
        ],
        "tags": [
          "assets"
        ],
        "summary": "Get a list of assets",
        "operationId": "listAssets",
        "parameters": [
          {
            "type": "integer",
            "description": "Page size of the result",
            "name": "page_size",
            "in": "query"
          },
          {
            "type": "string",
            "description": "Cursor",
            "name": "cursor",
            "in": "query"
          },
          {
            "enum": [
              "updated_at",
              "name"
            ],
            "type": "string",
            "description": "Property to sort by",
            "name": "order_by",
            "in": "query"
          },
          {
            "type": "string",
            "description": "Direction to sort (asc/desc)",
            "name": "direction",
            "in": "query"
          },
          {
            "type": "string",
            "description": "Comma separated list of ethereum address of the users who own these assets",
            "name": "user",
            "in": "query"
          },
          {
            "enum": [
              "eth",
              "imx",
              "preparing_withdrawal",
              "withdrawable",
              "burned"
            ],
            "type": "string",
            "description": "Status of these assets",
            "name": "status",
            "in": "query"
          },
          {
            "type": "string",
            "description": "Name of the asset to search",
            "name": "name",
            "in": "query"
          },
          {
            "type": "string",
            "description": "URL JSON-encoded metadata filters for these assets. Javascript example: encodeURI(JSON.stringify({'proto':['1147'],'quality':['Meteorite']}))",
            "name": "metadata",
            "in": "query"
          },
          {
            "type": "boolean",
            "description": "Set flag to true to fetch an array of sell order details with accepted status associated with the asset",
            "name": "sell_orders",
            "in": "query"
          },
          {
            "type": "boolean",
            "description": "Set flag to true to fetch an array of buy order details  with accepted status associated with the asset",
            "name": "buy_orders",
            "in": "query"
          },
          {
            "type": "boolean",
            "description": "Set flag to include fees associated with the asset",
            "name": "include_fees",
            "in": "query"
          },
          {
            "type": "string",
            "description": "Comma separated list of the collections contract address",
            "name": "collection",
            "in": "query"
          },
          {
            "type": "string",
            "description": "Minimum timestamp for when these assets were last updated, in ISO 8601 UTC format. Example: '2022-05-27T00:10:22Z'",
            "name": "updated_min_timestamp",
            "in": "query"
          },
          {
            "type": "string",
            "description": "Maximum timestamp for when these assets were last updated, in ISO 8601 UTC format. Example: '2022-05-27T00:10:22Z'",
            "name": "updated_max_timestamp",
            "in": "query"
          },
          {
            "type": "string",
            "description": "Comma separated string of fee percentages that are to be paired with auxiliary_fee_recipients",
            "name": "auxiliary_fee_percentages",
            "in": "query"
          },
          {
            "type": "string",
            "description": "Comma separated string of fee recipients that are to be paired with auxiliary_fee_percentages",
            "name": "auxiliary_fee_recipients",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ListAssetsResponse"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/APIError"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/APIError"
            }
          }
        }
      }
    },
    "/v1/assets/{token_address}/{token_id}": {
      "get": {
        "description": "Get details of an asset",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "assets"
        ],
        "summary": "Get details of an asset",
        "operationId": "getAsset",
        "parameters": [
          {
            "type": "string",
            "description": "Address of the ERC721 contract",
            "name": "token_address",
            "in": "path",
            "required": true
          },
          {
            "type": "string",
            "description": "Either ERC721 token ID or internal IMX ID",
            "name": "token_id",
            "in": "path",
            "required": true
          },
          {
            "type": "boolean",
            "description": "Set flag to include fees associated with the asset",
            "name": "include_fees",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Asset"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/APIError"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/APIError"
            }
          }
        }
      }
    },
    "/v1/collections": {
      "get": {
        "description": "Get a list of collections",
        "produces": [
          "application/json"
        ],
        "tags": [
          "collections"
        ],
        "summary": "Get a list of collections",
        "operationId": "listCollections",
        "parameters": [
          {
            "type": "integer",
            "description": "Page size of the result",
            "name": "page_size",
            "in": "query"
          },
          {
            "type": "string",
            "description": "Cursor",
            "name": "cursor",
            "in": "query"
          },
          {
            "enum": [
              "name",
              "address",
              "project_id",
              "created_at",
              "updated_at"
            ],
            "type": "string",
            "description": "Property to sort by",
            "name": "order_by",
            "in": "query"
          },
          {
            "type": "string",
            "description": "Direction to sort (asc/desc)",
            "name": "direction",
            "in": "query"
          },
          {
            "type": "string",
            "description": "List of collections not to be included, separated by commas",
            "name": "blacklist",
            "in": "query"
          },
          {
            "type": "string",
            "description": "List of collections to be included, separated by commas",
            "name": "whitelist",
            "in": "query"
          },
          {
            "type": "string",
            "description": "Keyword to search in collection name and description",
            "name": "keyword",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ListCollectionsResponse"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/APIError"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/APIError"
            }
          }
        }
      },
      "post": {
        "description": "Create collection",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "collections"
        ],
        "summary": "Create collection",
        "operationId": "createCollection",
        "parameters": [
          {
            "description": "create a collection",
            "name": "CreateCollectionRequest",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreateCollectionRequest"
            }
          },
          {
            "type": "string",
            "description": "String created by signing wallet address and timestamp. See https://docs.x.immutable.com/docs/generate-imx-signature",
            "name": "IMX-Signature",
            "in": "header",
            "required": true
          },
          {
            "type": "string",
            "description": "Unix Epoc timestamp",
            "name": "IMX-Timestamp",
            "in": "header",
            "required": true
          },
          {
            "type": "string",
            "description": "Immutable secret API key generated in the Immutable Hub https://hub.immutable.com. This key is required for all projects that are created inside the Immutable Hub.",
            "name": "x-immutable-api-key",
            "in": "header"
          }
        ],
        "responses": {
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/Collection"
            },
            "headers": {
              "Collection_Limit": {
                "type": "string",
                "description": "The collection limit available to the project for each four-week window."
              },
              "Collection_Limit_Reset": {
                "type": "string",
                "description": "The expiry date of the current four-week window."
              },
              "Collection_Remaining": {
                "type": "string",
                "description": "The amount of collections remaining for current four-week window."
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/APIError"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/APIError"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/APIError"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/APIError"
            }
          }
        }
      }
    },
    "/v1/collections-summary": {
      "get": {
        "description": "Get details of the collections from which a set of wallets hold tokens, along with the number of tokens held in each collection.",
        "produces": [
          "application/json"
        ],
        "tags": [
          "collections"
        ],
        "summary": "Get metadata about the collections held by a set of wallets",
        "operationId": "summarizeCollections",
        "parameters": [
          {
            "type": "string",
            "description": "Comma separated list of wallet addresses",
            "name": "user",
            "in": "query",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/api.SummarizeCollectionsResponse"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/APIError"
            }
          }
        }
      }
    },
    "/v1/collections/{address}": {
      "get": {
        "description": "Get details of a collection at the given address",
        "produces": [
          "application/json"
        ],
        "tags": [
          "collections"
        ],
        "summary": "Get details of a collection at the given address",
        "operationId": "getCollection",
        "parameters": [
          {
            "type": "string",
            "description": "Collection contract address",
            "name": "address",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Collection"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/APIError"
            }
          }
        }
      },
      "patch": {
        "description": "Update collection",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "collections"
        ],
        "summary": "Update collection",
        "operationId": "updateCollection",
        "parameters": [
          {
            "type": "string",
            "description": "Collection contract address",
            "name": "address",
            "in": "path",
            "required": true
          },
          {
            "description": "update a collection",
            "name": "UpdateCollectionRequest",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/UpdateCollectionRequest"
            }
          },
          {
            "type": "string",
            "description": "String created by signing wallet address and timestamp",
            "name": "IMX-Signature",
            "in": "header",
            "required": true
          },
          {
            "type": "string",
            "description": "Unix Epoc timestamp",
            "name": "IMX-Timestamp",
            "in": "header",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Collection"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/APIError"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/APIError"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/APIError"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/APIError"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/APIError"
            }
          }
        }
      }
    },
    "/v1/collections/{address}/filters": {
      "get": {
        "description": "Get a list of collection filters",
        "produces": [
          "application/json"
        ],
        "tags": [
          "collections"
        ],
        "summary": "Get a list of collection filters",
        "operationId": "listCollectionFilters",
        "parameters": [
          {
            "type": "string",
            "description": "Collection contract address",
            "name": "address",
            "in": "path",
            "required": true
          },
          {
            "type": "integer",
            "description": "Page size of the result",
            "name": "page_size",
            "in": "query"
          },
          {
            "type": "string",
            "description": "Next page token",
            "name": "next_page_token",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/CollectionFilter"
              }
            }
          }
        }
      }
    },
    "/v1/collections/{address}/metadata-schema": {
      "get": {
        "description": "Get collection metadata schema",
        "produces": [
          "application/json"
        ],
        "tags": [
          "metadata"
        ],
        "summary": "Get collection metadata schema",
        "operationId": "getMetadataSchema",
        "parameters": [
          {
            "type": "string",
            "description": "Collection contract address",
            "name": "address",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/MetadataSchemaProperty"
              }
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/APIError"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/APIError"
            }
          }
        }
      },
      "post": {
        "description": "Add metadata schema to collection",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "metadata"
        ],
        "summary": "Add metadata schema to collection",
        "operationId": "addMetadataSchemaToCollection",
        "parameters": [
          {
            "type": "string",
            "description": "Collection contract address",
            "name": "address",
            "in": "path",
            "required": true
          },
          {
            "description": "add metadata schema to a collection",
            "name": "AddMetadataSchemaToCollectionRequest",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AddMetadataSchemaToCollectionRequest"
            }
          },
          {
            "type": "string",
            "description": "String created by signing wallet address and timestamp",
            "name": "IMX-Signature",
            "in": "header",
            "required": true
          },
          {
            "type": "string",
            "description": "Unix Epoc timestamp",
            "name": "IMX-Timestamp",
            "in": "header",
            "required": true
          }
        ],
        "responses": {
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/SuccessResponse"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/APIError"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/APIError"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/APIError"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/APIError"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/APIError"
            }
          }
        }
      }
    },
    "/v1/collections/{address}/metadata-schema/{name}": {
      "patch": {
        "description": "Update metadata schema by name",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "metadata"
        ],
        "summary": "Update metadata schema by name",
        "operationId": "updateMetadataSchemaByName",
        "parameters": [
          {
            "type": "string",
            "description": "Collection contract address",
            "name": "address",
            "in": "path",
            "required": true
          },
          {
            "type": "string",
            "description": "Metadata schema name",
            "name": "name",
            "in": "path",
            "required": true
          },
          {
            "description": "update metadata schema",
            "name": "MetadataSchemaRequest",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/MetadataSchemaRequest"
            }
          },
          {
            "type": "string",
            "description": "String created by signing wallet address and timestamp",
            "name": "IMX-Signature",
            "in": "header",
            "required": true
          },
          {
            "type": "string",
            "description": "Unix Epoc timestamp",
            "name": "IMX-Timestamp",
            "in": "header",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/SuccessResponse"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/APIError"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/APIError"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/APIError"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/APIError"
            }
          }
        }
      }
    },
    "/v1/deposits": {
      "get": {
        "description": "Get a list of deposits",
        "produces": [
          "application/json"
        ],
        "tags": [
          "deposits"
        ],
        "summary": "Get a list of deposits",
        "operationId": "listDeposits",
        "parameters": [
          {
            "type": "integer",
            "description": "Page size of the result",
            "name": "page_size",
            "in": "query"
          },
          {
            "type": "string",
            "description": "Cursor",
            "name": "cursor",
            "in": "query"
          },
          {
            "type": "string",
            "description": "Property to sort by",
            "name": "order_by",
            "in": "query"
          },
          {
            "type": "string",
            "description": "Direction to sort (asc/desc)",
            "name": "direction",
            "in": "query"
          },
          {
            "type": "string",
            "description": "Ethereum address of the user who submitted this deposit",
            "name": "user",
            "in": "query"
          },
          {
            "type": "string",
            "description": "Status of this deposit",
            "name": "status",
            "in": "query"
          },
          {
            "type": "string",
            "description": "Minimum timestamp for this deposit, in ISO 8601 UTC format. Example: '2022-05-27T00:10:22Z'",
            "name": "min_timestamp",
            "in": "query"
          },
          {
            "type": "string",
            "description": "Maximum timestamp for this deposit, in ISO 8601 UTC format. Example: '2022-05-27T00:10:22Z'",
            "name": "max_timestamp",
            "in": "query"
          },
          {
            "type": "string",
            "description": "Token type of the deposited asset",
            "name": "token_type",
            "in": "query"
          },
          {
            "type": "string",
            "description": "ERC721 Token ID of the minted asset",
            "name": "token_id",
            "in": "query"
          },
          {
            "type": "string",
            "description": "Internal IMX ID of the minted asset",
            "name": "asset_id",
            "in": "query"
          },
          {
            "type": "string",
            "description": "Token address of the deposited asset",
            "name": "token_address",
            "in": "query"
          },
          {
            "type": "string",
            "description": "Token name of the deposited asset",
            "name": "token_name",
            "in": "query"
          },
          {
            "type": "string",
            "description": "Min quantity for the deposited asset",
            "name": "min_quantity",
            "in": "query"
          },
          {
            "type": "string",
            "description": "Max quantity for the deposited asset",
            "name": "max_quantity",
            "in": "query"
          },
          {
            "type": "string",
            "description": "JSON-encoded metadata filters for the deposited asset",
            "name": "metadata",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ListDepositsResponse"
            }
          }
        }
      }
    },
    "/v1/deposits/{id}": {
      "get": {
        "description": "Get details of a deposit with the given ID",
        "produces": [
          "application/json"
        ],
        "tags": [
          "deposits"
        ],
        "summary": "Get details of a deposit with the given ID",
        "operationId": "getDeposit",
        "parameters": [
          {
            "type": "string",
            "description": "Deposit ID",
            "name": "id",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Deposit"
            }
          }
        }
      }
    },
    "/v1/encode/{assetType}": {
      "post": {
        "description": "Retrieves the Starkex Encoded format for a given asset so that it can be used as parameter for Starkex smart contracts",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "encoding"
        ],
        "summary": "Retrieves the Starkex Encoded format for a given asset",
        "operationId": "encodeAsset",
        "parameters": [
          {
            "type": "string",
            "description": "Asset type to be encoded. (asset/mintable-asset)",
            "name": "assetType",
            "in": "path",
            "required": true
          },
          {
            "description": "Encode Asset",
            "name": "EncodeAssetRequest",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/EncodeAssetRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/EncodeAssetResponse"
            }
          }
        }
      }
    },
    "/v1/metadata-refreshes": {
      "get": {
        "description": "Get a list of metadata refreshes",
        "produces": [
          "application/json"
        ],
        "tags": [
          "metadata-refreshes"
        ],
        "operationId": "Get a list of metadata refreshes",
        "parameters": [
          {
            "type": "integer",
            "description": "Page size of the result",
            "name": "page_size",
            "in": "query"
          },
          {
            "type": "string",
            "description": "Cursor",
            "name": "cursor",
            "in": "query"
          },
          {
            "type": "string",
            "description": "Collection address",
            "name": "collection_address",
            "in": "query"
          },
          {
            "type": "string",
            "description": "String created by signing wallet address and timestamp. See https://docs.x.immutable.com/docs/generate-imx-signature",
            "name": "x-imx-eth-signature",
            "in": "header",
            "required": true
          },
          {
            "type": "string",
            "description": "Unix Epoc timestamp",
            "name": "x-imx-eth-timestamp",
            "in": "header",
            "required": true
          },
          {
            "type": "string",
            "description": "Wallet Address that signed the signature",
            "name": "x-imx-eth-address",
            "in": "header",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/GetMetadataRefreshes"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/APIError"
            }
          },
          "401": {
            "description": "Unauthorized Request",
            "schema": {
              "$ref": "#/definitions/APIError"
            }
          },
          "403": {
            "description": "Forbidden Request",
            "schema": {
              "$ref": "#/definitions/APIError"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/APIError"
            }
          }
        }
      },
      "post": {
        "description": "Request metadata refresh for provided tokens",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "metadata-refreshes"
        ],
        "operationId": "Request a metadata refresh",
        "parameters": [
          {
            "description": "Create metadata refresh request",
            "name": "CreateMetadataRefreshRequest",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreateMetadataRefreshRequest"
            }
          },
          {
            "type": "string",
            "description": "String created by signing wallet address and timestamp. See https://docs.x.immutable.com/docs/generate-imx-signature",
            "name": "x-imx-eth-signature",
            "in": "header",
            "required": true
          },
          {
            "type": "string",
            "description": "Unix Epoc timestamp",
            "name": "x-imx-eth-timestamp",
            "in": "header",
            "required": true
          },
          {
            "type": "string",
            "description": "Wallet Address that signed the signature",
            "name": "x-imx-eth-address",
            "in": "header",
            "required": true
          }
        ],
        "responses": {
          "202": {
            "description": "Accepted",
            "schema": {
              "$ref": "#/definitions/CreateMetadataRefreshResponse"
            },
            "headers": {
              "x-imx-refresh-limit-reset": {
                "type": "string",
                "description": "The expiry date of the current one-hour window."
              },
              "x-imx-refreshes-limit": {
                "type": "string",
                "description": "The refresh request limit available to the project for each one-hour window."
              },
              "x-imx-remaining-refreshes": {
                "type": "string",
                "description": "The amount of refresh requests remaining for current one-hour window."
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/APIError"
            }
          },
          "401": {
            "description": "Unauthorized Request",
            "schema": {
              "$ref": "#/definitions/APIError"
            }
          },
          "403": {
            "description": "Forbidden Request",
            "schema": {
              "$ref": "#/definitions/APIError"
            }
          },
          "429": {
            "description": "Too Many Requests",
            "schema": {
              "$ref": "#/definitions/APIError"
            },
            "headers": {
              "x-imx-refresh-limit-reset": {
                "type": "string",
                "description": "The expiry date of the current one-hour window."
              },
              "x-imx-refreshes-limit": {
                "type": "string",
                "description": "The refresh request limit available to the project for each one-hour window."
              },
              "x-imx-remaining-refreshes": {
                "type": "string",
                "description": "The amount of refresh requests remaining for current one-hour window."
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/APIError"
            }
          }
        }
      }
    },
    "/v1/metadata-refreshes/{refresh_id}": {
      "get": {
        "description": "Get metadata refresh results",
        "produces": [
          "application/json"
        ],
        "tags": [
          "metadata-refreshes"
        ],
        "operationId": "Get metadata refresh results",
        "parameters": [
          {
            "type": "string",
            "description": "The metadata refresh ID",
            "name": "refresh_id",
            "in": "path",
            "required": true
          },
          {
            "type": "string",
            "description": "String created by signing wallet address and timestamp. See https://docs.x.immutable.com/docs/generate-imx-signature",
            "name": "x-imx-eth-signature",
            "in": "header",
            "required": true
          },
          {
            "type": "string",
            "description": "Unix Epoc timestamp",
            "name": "x-imx-eth-timestamp",
            "in": "header",
            "required": true
          },
          {
            "type": "string",
            "description": "Wallet Address that signed the signature",
            "name": "x-imx-eth-address",
            "in": "header",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/GetMetadataRefreshResponse"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/APIError"
            }
          },
          "401": {
            "description": "Unauthorized Request",
            "schema": {
              "$ref": "#/definitions/APIError"
            }
          },
          "403": {
            "description": "Forbidden Request",
            "schema": {
              "$ref": "#/definitions/APIError"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/APIError"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/APIError"
            }
          }
        }
      }
    },
    "/v1/metadata-refreshes/{refresh_id}/errors": {
      "get": {
        "description": "Get metadata refresh errors",
        "produces": [
          "application/json"
        ],
        "tags": [
          "metadata-refreshes"
        ],
        "operationId": "Get metadata refresh errors",
        "parameters": [
          {
            "type": "string",
            "description": "The metadata refresh ID",
            "name": "refresh_id",
            "in": "path",
            "required": true
          },
          {
            "type": "integer",
            "description": "Page size of the result",
            "name": "page_size",
            "in": "query"
          },
          {
            "type": "string",
            "description": "Cursor",
            "name": "cursor",
            "in": "query"
          },
          {
            "type": "string",
            "description": "String created by signing wallet address and timestamp. See https://docs.x.immutable.com/docs/generate-imx-signature",
            "name": "x-imx-eth-signature",
            "in": "header",
            "required": true
          },
          {
            "type": "string",
            "description": "Unix Epoc timestamp",
            "name": "x-imx-eth-timestamp",
            "in": "header",
            "required": true
          },
          {
            "type": "string",
            "description": "Wallet Address that signed the signature",
            "name": "x-imx-eth-address",
            "in": "header",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/GetMetadataRefreshErrorsResponse"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/APIError"
            }
          },
          "401": {
            "description": "Unauthorized Request",
            "schema": {
              "$ref": "#/definitions/APIError"
            }
          },
          "403": {
            "description": "Forbidden Request",
            "schema": {
              "$ref": "#/definitions/APIError"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/APIError"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/APIError"
            }
          }
        }
      }
    },
    "/v1/mintable-token/{token_address}/{token_id}": {
      "get": {
        "description": "Get details of a mintable token with the given token address and token ID",
        "produces": [
          "application/json"
        ],
        "tags": [
          "mints"
        ],
        "summary": "Get details of a mintable token with the given token address and token ID",
        "operationId": "getMintableTokenDetailsByClientTokenId",
        "parameters": [
          {
            "type": "string",
            "description": "Address of the ERC721 contract",
            "name": "token_address",
            "in": "path",
            "required": true
          },
          {
            "type": "string",
            "description": "ERC721 token ID",
            "name": "token_id",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/MintableTokenDetails"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/APIError"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/APIError"
            }
          }
        }
      }
    },
    "/v1/mints": {
      "get": {
        "description": "Get information about token mints. If you want to get information about tokens that have already been minted, use the listAssets endpoint.",
        "produces": [
          "application/json"
        ],
        "tags": [
          "mints"
        ],
        "summary": "Get a list of mints",
        "operationId": "listMints",
        "parameters": [
          {
            "type": "integer",
            "description": "Page size of the result",
            "name": "page_size",
            "in": "query"
          },
          {
            "type": "string",
            "description": "Cursor",
            "name": "cursor",
            "in": "query"
          },
          {
            "enum": [
              "transaction_id",
              "token_id",
              "created_at",
              "updated_at"
            ],
            "type": "string",
            "description": "Property to sort by",
            "name": "order_by",
            "in": "query"
          },
          {
            "type": "string",
            "description": "Direction to sort (asc/desc)",
            "name": "direction",
            "in": "query"
          },
          {
            "type": "string",
            "description": "Ethereum address of the user who submitted this mint",
            "name": "user",
            "in": "query"
          },
          {
            "type": "string",
            "description": "Status of this mint",
            "name": "status",
            "in": "query"
          },
          {
            "type": "string",
            "description": "Minimum timestamp for this mint, in ISO 8601 UTC format. Example: '2022-05-27T00:10:22Z'",
            "name": "min_timestamp",
            "in": "query"
          },
          {
            "type": "string",
            "description": "Maximum timestamp for this mint, in ISO 8601 UTC format. Example: '2022-05-27T00:10:22Z'",
            "name": "max_timestamp",
            "in": "query"
          },
          {
            "type": "string",
            "description": "Token type of the minted asset",
            "name": "token_type",
            "in": "query"
          },
          {
            "type": "string",
            "description": "ERC721 Token ID of the minted asset",
            "name": "token_id",
            "in": "query"
          },
          {
            "type": "string",
            "description": "Token Name of the minted asset",
            "name": "token_name",
            "in": "query"
          },
          {
            "type": "string",
            "description": "Token address of the minted asset",
            "name": "token_address",
            "in": "query"
          },
          {
            "type": "string",
            "description": "Min quantity for the minted asset",
            "name": "min_quantity",
            "in": "query"
          },
          {
            "type": "string",
            "description": "Max quantity for the minted asset",
            "name": "max_quantity",
            "in": "query"
          },
          {
            "type": "string",
            "description": "JSON-encoded metadata filters for the minted asset",
            "name": "metadata",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ListMintsResponse"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/APIError"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/APIError"
            }
          }
        }
      }
    },
    "/v1/mints/{id}": {
      "get": {
        "description": "Get details of a mint with the given ID",
        "produces": [
          "application/json"
        ],
        "tags": [
          "mints"
        ],
        "summary": "Get details of a mint with the given ID",
        "operationId": "getMint",
        "parameters": [
          {
            "type": "string",
            "description": "Mint ID. This is the transaction_id returned from listMints",
            "name": "id",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Result array will contain only one item",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Mint"
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/APIError"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/APIError"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/APIError"
            }
          }
        }
      }
    },
    "/v1/passport/users": {
      "post": {
        "description": "Registers a passport user",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "users"
        ],
        "summary": "Registers a passport user",
        "operationId": "RegisterPassportUser",
        "parameters": [
          {
            "type": "string",
            "description": "Authorization header",
            "name": "Authorization",
            "in": "header",
            "required": true
          },
          {
            "description": "Register Passport User",
            "name": "RegisterPassportUserRequest",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/api.RegisterPassportUserRequest"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/RegisterPassportUserResult"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/APIError"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/APIError"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/APIError"
            }
          }
        }
      }
    },
    "/v1/primary_sales": {
      "post": {
        "security": [
          {
            "ImxEthAddress": [],
            "ImxEthSignature": []
          }
        ],
        "description": "[Experimental] Create Primary Sale. This endpoint is experimental and may change in the future.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "primary-sales"
        ],
        "summary": "[Experimental] Create Primary Sale",
        "operationId": "CreatePrimarySale",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/createPrimarySaleParamsBody"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created response.",
            "schema": {
              "$ref": "#/definitions/createPrimarySaleCreatedBody"
            }
          },
          "400": {
            "description": "Bad Request (400)",
            "schema": {
              "$ref": "#/definitions/createPrimarySaleBadRequestBody"
            }
          },
          "401": {
            "description": "Unauthorised Request (401)",
            "schema": {
              "$ref": "#/definitions/createPrimarySaleUnauthorizedBody"
            }
          },
          "403": {
            "description": "Forbidden (403)",
            "schema": {
              "$ref": "#/definitions/createPrimarySaleForbiddenBody"
            }
          },
          "404": {
            "description": "The specified resource was not found (404)",
            "schema": {
              "$ref": "#/definitions/createPrimarySaleNotFoundBody"
            }
          },
          "500": {
            "description": "Internal Server Error (500)",
            "schema": {
              "$ref": "#/definitions/createPrimarySaleInternalServerErrorBody"
            }
          },
          "501": {
            "description": "Not Implemented Error (501)",
            "schema": {
              "$ref": "#/definitions/createPrimarySaleNotImplementedBody"
            }
          }
        }
      }
    },
    "/v1/primary_sales/signable-primary-sale-details": {
      "post": {
        "description": "[Experimental] Signable Create Primary Sale.  This endpoint is experimental and may change in the future.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "primary-sales"
        ],
        "summary": "[Experimental] Signable Create Primary Sale",
        "operationId": "SignableCreatePrimarySale",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/signableCreatePrimarySaleParamsBody"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK response.",
            "schema": {
              "$ref": "#/definitions/signableCreatePrimarySaleOKBody"
            }
          },
          "400": {
            "description": "Bad Request (400)",
            "schema": {
              "$ref": "#/definitions/signableCreatePrimarySaleBadRequestBody"
            }
          },
          "404": {
            "description": "The specified resource was not found (404)",
            "schema": {
              "$ref": "#/definitions/signableCreatePrimarySaleNotFoundBody"
            }
          },
          "500": {
            "description": "Internal Server Error (500)",
            "schema": {
              "$ref": "#/definitions/signableCreatePrimarySaleInternalServerErrorBody"
            }
          },
          "501": {
            "description": "Not Implemented Error (501)",
            "schema": {
              "$ref": "#/definitions/signableCreatePrimarySaleNotImplementedBody"
            }
          }
        }
      }
    },
    "/v1/primary_sales/{id}": {
      "get": {
        "description": "[Experimental] Get a single primary sale by ID. This endpoint is experimental and may change in the future.",
        "produces": [
          "application/json"
        ],
        "tags": [
          "primary-sales"
        ],
        "summary": "[Experimental] Get a single primary sale by ID",
        "operationId": "GetPrimarySale",
        "parameters": [
          {
            "type": "integer",
            "format": "int64",
            "description": "Global Primary Sale identifier",
            "name": "id",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "OK response.",
            "schema": {
              "$ref": "#/definitions/getPrimarySaleOKBody"
            }
          },
          "400": {
            "description": "Bad Request (400)",
            "schema": {
              "$ref": "#/definitions/getPrimarySaleBadRequestBody"
            }
          },
          "404": {
            "description": "The specified resource was not found (404)",
            "schema": {
              "$ref": "#/definitions/getPrimarySaleNotFoundBody"
            }
          },
          "500": {
            "description": "Internal Server Error (500)",
            "schema": {
              "$ref": "#/definitions/getPrimarySaleInternalServerErrorBody"
            }
          },
          "501": {
            "description": "Not Implemented Error (501)",
            "schema": {
              "$ref": "#/definitions/getPrimarySaleNotImplementedBody"
            }
          }
        }
      }
    },
    "/v1/primary_sales/{id}/accept": {
      "post": {
        "security": [
          {
            "ImxEthAddress": [],
            "ImxEthSignature": []
          }
        ],
        "description": "[Experimental] Accept Primary Sale.  This endpoint is experimental and may change in the future.",
        "produces": [
          "application/json"
        ],
        "tags": [
          "primary-sales"
        ],
        "summary": "[Experimental] Accept Primary Sale",
        "operationId": "AcceptPrimarySale",
        "parameters": [
          {
            "type": "integer",
            "format": "int64",
            "description": "Global Primary Sale identifier",
            "name": "id",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "OK response.",
            "schema": {
              "$ref": "#/definitions/acceptPrimarySaleOKBody"
            }
          },
          "400": {
            "description": "Bad Request (400)",
            "schema": {
              "$ref": "#/definitions/acceptPrimarySaleBadRequestBody"
            }
          },
          "401": {
            "description": "Unauthorised Request (401)",
            "schema": {
              "$ref": "#/definitions/acceptPrimarySaleUnauthorizedBody"
            }
          },
          "403": {
            "description": "Forbidden (403)",
            "schema": {
              "$ref": "#/definitions/acceptPrimarySaleForbiddenBody"
            }
          },
          "404": {
            "description": "The specified resource was not found (404)",
            "schema": {
              "$ref": "#/definitions/acceptPrimarySaleNotFoundBody"
            }
          },
          "422": {
            "description": "Unprocessable Entity (422)",
            "schema": {
              "$ref": "#/definitions/acceptPrimarySaleUnprocessableEntityBody"
            }
          },
          "500": {
            "description": "Internal Server Error (500)",
            "schema": {
              "$ref": "#/definitions/acceptPrimarySaleInternalServerErrorBody"
            }
          },
          "501": {
            "description": "Not Implemented Error (501)",
            "schema": {
              "$ref": "#/definitions/acceptPrimarySaleNotImplementedBody"
            }
          }
        }
      }
    },
    "/v1/primary_sales/{id}/reject": {
      "post": {
        "security": [
          {
            "ImxEthAddress": [],
            "ImxEthSignature": []
          }
        ],
        "description": "[Experimental] Reject Primary Sale.  This endpoint is experimental and may change in the future.",
        "produces": [
          "application/json"
        ],
        "tags": [
          "primary-sales"
        ],
        "summary": "[Experimental] Reject Primary Sale",
        "operationId": "RejectPrimarySale",
        "parameters": [
          {
            "type": "integer",
            "format": "int64",
            "description": "Global Primary Sale identifier",
            "name": "id",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "OK response.",
            "schema": {
              "$ref": "#/definitions/rejectPrimarySaleOKBody"
            }
          },
          "400": {
            "description": "Bad Request (400)",
            "schema": {
              "$ref": "#/definitions/rejectPrimarySaleBadRequestBody"
            }
          },
          "401": {
            "description": "Unauthorised Request (401)",
            "schema": {
              "$ref": "#/definitions/rejectPrimarySaleUnauthorizedBody"
            }
          },
          "403": {
            "description": "Forbidden (403)",
            "schema": {
              "$ref": "#/definitions/rejectPrimarySaleForbiddenBody"
            }
          },
          "404": {
            "description": "The specified resource was not found (404)",
            "schema": {
              "$ref": "#/definitions/rejectPrimarySaleNotFoundBody"
            }
          },
          "422": {
            "description": "Unprocessable Entity (422)",
            "schema": {
              "$ref": "#/definitions/rejectPrimarySaleUnprocessableEntityBody"
            }
          },
          "500": {
            "description": "Internal Server Error (500)",
            "schema": {
              "$ref": "#/definitions/rejectPrimarySaleInternalServerErrorBody"
            }
          },
          "501": {
            "description": "Not Implemented Error (501)",
            "schema": {
              "$ref": "#/definitions/rejectPrimarySaleNotImplementedBody"
            }
          }
        }
      }
    },
    "/v1/primary_sales/{id}/signable-accept-details": {
      "post": {
        "description": "[Experimental] Signable Accept Primary Sale.  This endpoint is experimental and may change in the future.",
        "produces": [
          "application/json"
        ],
        "tags": [
          "primary-sales"
        ],
        "summary": "[Experimental] Signable Accept Primary Sale",
        "operationId": "SignableAcceptPrimarySale",
        "parameters": [
          {
            "type": "integer",
            "format": "int64",
            "description": "Global Primary Sale identifier",
            "name": "id",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "OK response.",
            "schema": {
              "$ref": "#/definitions/signableAcceptPrimarySaleOKBody"
            }
          },
          "400": {
            "description": "Bad Request (400)",
            "schema": {
              "$ref": "#/definitions/signableAcceptPrimarySaleBadRequestBody"
            }
          },
          "404": {
            "description": "The specified resource was not found (404)",
            "schema": {
              "$ref": "#/definitions/signableAcceptPrimarySaleNotFoundBody"
            }
          },
          "422": {
            "description": "Unprocessable Entity (422)",
            "schema": {
              "$ref": "#/definitions/signableAcceptPrimarySaleUnprocessableEntityBody"
            }
          },
          "500": {
            "description": "Internal Server Error (500)",
            "schema": {
              "$ref": "#/definitions/signableAcceptPrimarySaleInternalServerErrorBody"
            }
          },
          "501": {
            "description": "Not Implemented Error (501)",
            "schema": {
              "$ref": "#/definitions/signableAcceptPrimarySaleNotImplementedBody"
            }
          }
        }
      }
    },
    "/v1/primary_sales/{id}/signable-reject-details": {
      "post": {
        "description": "[Experimental] Signable Reject Primary Sale.  This endpoint is experimental and may change in the future.",
        "produces": [
          "application/json"
        ],
        "tags": [
          "primary-sales"
        ],
        "summary": "[Experimental] Signable Reject Primary Sale",
        "operationId": "SignableRejectPrimarySale",
        "parameters": [
          {
            "type": "integer",
            "format": "int64",
            "description": "Global Primary Sale identifier",
            "name": "id",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "OK response.",
            "schema": {
              "$ref": "#/definitions/signableRejectPrimarySaleOKBody"
            }
          },
          "400": {
            "description": "Bad Request (400)",
            "schema": {
              "$ref": "#/definitions/signableRejectPrimarySaleBadRequestBody"
            }
          },
          "404": {
            "description": "The specified resource was not found (404)",
            "schema": {
              "$ref": "#/definitions/signableRejectPrimarySaleNotFoundBody"
            }
          },
          "422": {
            "description": "Unprocessable Entity (422)",
            "schema": {
              "$ref": "#/definitions/signableRejectPrimarySaleUnprocessableEntityBody"
            }
          },
          "500": {
            "description": "Internal Server Error (500)",
            "schema": {
              "$ref": "#/definitions/signableRejectPrimarySaleInternalServerErrorBody"
            }
          },
          "501": {
            "description": "Not Implemented Error (501)",
            "schema": {
              "$ref": "#/definitions/signableRejectPrimarySaleNotImplementedBody"
            }
          }
        }
      }
    },
    "/v1/projects/{id}": {
      "get": {
        "description": "Get a project",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "projects"
        ],
        "summary": "Get a project",
        "operationId": "getProject",
        "parameters": [
          {
            "type": "string",
            "description": "Project ID",
            "name": "id",
            "in": "path",
            "required": true
          },
          {
            "type": "string",
            "description": "String created by signing wallet address and timestamp",
            "name": "IMX-Signature",
            "in": "header",
            "required": true
          },
          {
            "type": "string",
            "description": "Unix Epoc timestamp",
            "name": "IMX-Timestamp",
            "in": "header",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Project"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/APIError"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/APIError"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/APIError"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/APIError"
            }
          }
        }
      }
    },
    "/v1/signable-deposit-details": {
      "post": {
        "description": "Gets details of a signable deposit",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "deposits"
        ],
        "summary": "Gets details of a signable deposit",
        "operationId": "getSignableDeposit",
        "parameters": [
          {
            "description": "Get details of signable deposit",
            "name": "GetSignableDepositRequest",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GetSignableDepositRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/GetSignableDepositResponse"
            }
          }
        }
      }
    },
    "/v1/signable-registration": {
      "post": {
        "description": "Get operator signature to allow clients to register the user",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "users"
        ],
        "summary": "Get operator signature to allow clients to register the user",
        "operationId": "getSignableRegistration",
        "parameters": [
          {
            "description": "Register User",
            "name": "GetSignableRegistrationRequest",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GetSignableRegistrationRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/GetSignableRegistrationResponse"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/APIError"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/APIError"
            }
          }
        }
      }
    },
    "/v1/signable-registration-offchain": {
      "post": {
        "description": "Get encoded details to allow clients to register the user offchain",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "users"
        ],
        "summary": "Get encoded details to allow clients to register the user offchain",
        "operationId": "getSignableRegistrationOffchain",
        "parameters": [
          {
            "description": "Register User Offchain",
            "name": "GetSignableRegistrationRequest",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GetSignableRegistrationRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/GetSignableRegistrationOffchainResponse"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/APIError"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/APIError"
            }
          }
        }
      }
    },
    "/v1/signable-transfer-details": {
      "post": {
        "description": "Gets details of a signable transfer",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "transfers"
        ],
        "summary": "Gets details of a signable transfer",
        "operationId": "getSignableTransferV1",
        "parameters": [
          {
            "description": "get details of signable transfer",
            "name": "GetSignableTransferRequest",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GetSignableTransferRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/GetSignableTransferResponseV1"
            }
          }
        }
      }
    },
    "/v1/signable-withdrawal-details": {
      "post": {
        "description": "Gets details of a signable withdrawal",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "withdrawals"
        ],
        "summary": "Gets details of a signable withdrawal",
        "operationId": "getSignableWithdrawal",
        "parameters": [
          {
            "description": "get details of signable withdrawal",
            "name": "GetSignableWithdrawalRequest",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GetSignableWithdrawalRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/GetSignableWithdrawalResponse"
            }
          }
        }
      }
    },
    "/v1/tokens": {
      "get": {
        "description": "Get a list of tokens",
        "produces": [
          "application/json"
        ],
        "tags": [
          "tokens"
        ],
        "summary": "Get a list of tokens",
        "operationId": "listTokens",
        "parameters": [
          {
            "type": "integer",
            "description": "Page size of the result",
            "name": "page_size",
            "in": "query"
          },
          {
            "type": "string",
            "description": "Cursor",
            "name": "cursor",
            "in": "query"
          },
          {
            "enum": [
              "contract_address",
              "name",
              "symbol"
            ],
            "type": "string",
            "description": "Property to sort by",
            "name": "order_by",
            "in": "query"
          },
          {
            "type": "string",
            "description": "Direction to sort (asc/desc)",
            "name": "direction",
            "in": "query"
          },
          {
            "type": "string",
            "description": "Contract address of the token",
            "name": "address",
            "in": "query"
          },
          {
            "type": "string",
            "description": "Token symbols for the token, e.g. ?symbols=IMX,ETH",
            "name": "symbols",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ListTokensResponse"
            }
          }
        }
      }
    },
    "/v1/tokens/{address}": {
      "get": {
        "description": "Get details of a token",
        "produces": [
          "application/json"
        ],
        "tags": [
          "tokens"
        ],
        "summary": "Get details of a token",
        "operationId": "getToken",
        "parameters": [
          {
            "type": "string",
            "description": "Token Contract Address",
            "name": "address",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/TokenDetails"
            }
          }
        }
      }
    },
    "/v1/transfers": {
      "get": {
        "description": "Get a list of transfers",
        "produces": [
          "application/json"
        ],
        "tags": [
          "transfers"
        ],
        "summary": "Get a list of transfers",
        "operationId": "listTransfers",
        "parameters": [
          {
            "type": "integer",
            "description": "Page size of the result",
            "name": "page_size",
            "in": "query"
          },
          {
            "type": "string",
            "description": "Cursor",
            "name": "cursor",
            "in": "query"
          },
          {
            "enum": [
              "transaction_id",
              "created_at",
              "sender_ether_key",
              "receiver_ether_key"
            ],
            "type": "string",
            "description": "Property to sort by",
            "name": "order_by",
            "in": "query"
          },
          {
            "type": "string",
            "description": "Direction to sort (asc/desc)",
            "name": "direction",
            "in": "query"
          },
          {
            "type": "string",
            "description": "Ethereum address of the user who submitted this transfer",
            "name": "user",
            "in": "query"
          },
          {
            "type": "string",
            "description": "Ethereum address of the user who received this transfer",
            "name": "receiver",
            "in": "query"
          },
          {
            "enum": [
              "success",
              "failure"
            ],
            "type": "string",
            "description": "Status of this transfer",
            "name": "status",
            "in": "query"
          },
          {
            "type": "string",
            "description": "Minimum timestamp for this transfer, in ISO 8601 UTC format. Example: '2022-05-27T00:10:22Z'",
            "name": "min_timestamp",
            "in": "query"
          },
          {
            "type": "string",
            "description": "Maximum timestamp for this transfer, in ISO 8601 UTC format. Example: '2022-05-27T00:10:22Z'",
            "name": "max_timestamp",
            "in": "query"
          },
          {
            "type": "string",
            "description": "Token type of the transferred asset",
            "name": "token_type",
            "in": "query"
          },
          {
            "type": "string",
            "description": "ERC721 Token ID of the minted asset",
            "name": "token_id",
            "in": "query"
          },
          {
            "type": "string",
            "description": "Internal IMX ID of the minted asset",
            "name": "asset_id",
            "in": "query"
          },
          {
            "type": "string",
            "description": "Token address of the transferred asset",
            "name": "token_address",
            "in": "query"
          },
          {
            "type": "string",
            "description": "Token name of the transferred asset",
            "name": "token_name",
            "in": "query"
          },
          {
            "type": "string",
            "description": "Max quantity for the transferred asset",
            "name": "min_quantity",
            "in": "query"
          },
          {
            "type": "string",
            "description": "Max quantity for the transferred asset",
            "name": "max_quantity",
            "in": "query"
          },
          {
            "type": "string",
            "description": "JSON-encoded metadata filters for the transferred asset",
            "name": "metadata",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ListTransfersResponse"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/APIError"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/APIError"
            }
          }
        }
      },
      "post": {
        "description": "Create a new transfer request. Use https://docs.x.immutable.com/reference#/operations/getSignableTransferV1 to get request body params.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "transfers"
        ],
        "summary": "Creates a transfer of tokens between two parties",
        "operationId": "createTransferV1",
        "parameters": [
          {
            "type": "string",
            "description": "eth address",
            "name": "x-imx-eth-address",
            "in": "header"
          },
          {
            "type": "string",
            "description": "eth signature",
            "name": "x-imx-eth-signature",
            "in": "header"
          },
          {
            "type": "string",
            "description": "Authorization header",
            "name": "Authorization",
            "in": "header"
          },
          {
            "description": "Create transfer",
            "name": "CreateTransferRequest",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreateTransferRequestV1"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/CreateTransferResponseV1"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/APIError"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/APIError"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/APIError"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/APIError"
            }
          }
        }
      }
    },
    "/v1/transfers/{id}": {
      "get": {
        "description": "Get details of a transfer with the given ID",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "transfers"
        ],
        "summary": "Get details of a transfer with the given ID",
        "operationId": "getTransfer",
        "parameters": [
          {
            "type": "string",
            "description": "Transfer ID",
            "name": "id",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Transfer"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/APIError"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/APIError"
            }
          }
        }
      }
    },
    "/v1/users": {
      "post": {
        "description": "Registers a user",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "users"
        ],
        "summary": "Registers a user",
        "operationId": "registerUser",
        "parameters": [
          {
            "description": "Register User",
            "name": "RegisterUserRequest",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/RegisterUserRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/RegisterUserResponse"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/APIError"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/APIError"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/APIError"
            }
          }
        }
      }
    },
    "/v1/users/{user}": {
      "get": {
        "description": "Get stark keys for a registered user",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "users"
        ],
        "summary": "Get stark keys for a registered user",
        "operationId": "getUsers",
        "parameters": [
          {
            "type": "string",
            "description": "User",
            "name": "user",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/GetUsersApiResponse"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/APIError"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/APIError"
            }
          }
        }
      }
    },
    "/v1/withdrawals": {
      "get": {
        "description": "Get a list of withdrawals",
        "produces": [
          "application/json"
        ],
        "tags": [
          "withdrawals"
        ],
        "summary": "Get a list of withdrawals",
        "operationId": "listWithdrawals",
        "parameters": [
          {
            "type": "boolean",
            "description": "Withdrawal has been transferred to user's Layer 1 wallet",
            "name": "withdrawn_to_wallet",
            "in": "query"
          },
          {
            "type": "string",
            "description": "Status of the on-chain batch confirmation for this withdrawal",
            "name": "rollup_status",
            "in": "query"
          },
          {
            "type": "integer",
            "description": "Page size of the result",
            "name": "page_size",
            "in": "query"
          },
          {
            "type": "string",
            "description": "Cursor",
            "name": "cursor",
            "in": "query"
          },
          {
            "type": "string",
            "description": "Property to sort by",
            "name": "order_by",
            "in": "query"
          },
          {
            "type": "string",
            "description": "Direction to sort (asc/desc)",
            "name": "direction",
            "in": "query"
          },
          {
            "type": "string",
            "description": "Ethereum address of the user who submitted this withdrawal",
            "name": "user",
            "in": "query"
          },
          {
            "type": "string",
            "description": "Status of this withdrawal",
            "name": "status",
            "in": "query"
          },
          {
            "type": "string",
            "description": "Minimum timestamp for this deposit, in ISO 8601 UTC format. Example: '2022-05-27T00:10:22Z'",
            "name": "min_timestamp",
            "in": "query"
          },
          {
            "type": "string",
            "description": "Maximum timestamp for this deposit, in ISO 8601 UTC format. Example: '2022-05-27T00:10:22Z'",
            "name": "max_timestamp",
            "in": "query"
          },
          {
            "type": "string",
            "description": "Token type of the withdrawn asset",
            "name": "token_type",
            "in": "query"
          },
          {
            "type": "string",
            "description": "ERC721 Token ID of the minted asset",
            "name": "token_id",
            "in": "query"
          },
          {
            "type": "string",
            "description": "Internal IMX ID of the minted asset",
            "name": "asset_id",
            "in": "query"
          },
          {
            "type": "string",
            "description": "Token address of the withdrawn asset",
            "name": "token_address",
            "in": "query"
          },
          {
            "type": "string",
            "description": "Token name of the withdrawn asset",
            "name": "token_name",
            "in": "query"
          },
          {
            "type": "string",
            "description": "Min quantity for the withdrawn asset",
            "name": "min_quantity",
            "in": "query"
          },
          {
            "type": "string",
            "description": "Max quantity for the withdrawn asset",
            "name": "max_quantity",
            "in": "query"
          },
          {
            "type": "string",
            "description": "JSON-encoded metadata filters for the withdrawn asset",
            "name": "metadata",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ListWithdrawalsResponse"
            }
          }
        }
      },
      "post": {
        "description": "Creates a withdrawal. Use https://docs.x.immutable.com/reference#/operations/getSignableWithdrawal to get request body params.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "withdrawals"
        ],
        "summary": "Creates a withdrawal of a token",
        "operationId": "createWithdrawal",
        "parameters": [
          {
            "type": "string",
            "description": "eth address",
            "name": "x-imx-eth-address",
            "in": "header",
            "required": true
          },
          {
            "type": "string",
            "description": "eth signature",
            "name": "x-imx-eth-signature",
            "in": "header",
            "required": true
          },
          {
            "description": "create a withdrawal",
            "name": "CreateWithdrawalRequest",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreateWithdrawalRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/CreateWithdrawalResponse"
            }
          }
        }
      }
    },
    "/v1/withdrawals/{id}": {
      "get": {
        "description": "Gets details of withdrawal with the given ID",
        "produces": [
          "application/json"
        ],
        "tags": [
          "withdrawals"
        ],
        "summary": "Gets details of withdrawal with the given ID",
        "operationId": "getWithdrawal",
        "parameters": [
          {
            "type": "string",
            "description": "Withdrawal ID",
            "name": "id",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Withdrawal"
            }
          }
        }
      }
    },
    "/v2/balances/{owner}": {
      "get": {
        "description": "Get a list of balances for given user",
        "produces": [
          "application/json"
        ],
        "tags": [
          "balances"
        ],
        "summary": "Get a list of balances for given user",
        "operationId": "listBalances",
        "parameters": [
          {
            "type": "integer",
            "description": "Page size of the result",
            "name": "page_size",
            "in": "query"
          },
          {
            "type": "string",
            "description": "Cursor",
            "name": "cursor",
            "in": "query"
          },
          {
            "type": "string",
            "description": "Property to sort by",
            "name": "order_by",
            "in": "query"
          },
          {
            "type": "string",
            "description": "Direction to sort (asc/desc)",
            "name": "direction",
            "in": "query"
          },
          {
            "type": "string",
            "description": "Ethereum wallet address for user",
            "name": "owner",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ListBalancesResponse"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/APIError"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/APIError"
            }
          }
        }
      }
    },
    "/v2/balances/{owner}/{address}": {
      "get": {
        "description": "Fetches the token balances of the user",
        "produces": [
          "application/json"
        ],
        "tags": [
          "balances"
        ],
        "summary": "Fetches the token balances of the user",
        "operationId": "getBalance",
        "parameters": [
          {
            "type": "string",
            "description": "Address of the owner/user",
            "name": "owner",
            "in": "path",
            "required": true
          },
          {
            "type": "string",
            "description": "Token address or 'eth'",
            "name": "address",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Balance"
            }
          }
        }
      }
    },
    "/v2/exchanges/{id}/signable-transfer-details": {
      "post": {
        "description": "Send a request for signable-transfer-details (offramp)",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "exchanges"
        ],
        "summary": "Send a request for signable-transfer-details (offramp)",
        "operationId": "getExchangeSignableTransfer",
        "parameters": [
          {
            "description": "get details of signable transfer",
            "name": "GetSignableTransferRequest",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GetSignableTransferRequestV1"
            }
          },
          {
            "type": "string",
            "description": "Transaction ID",
            "name": "id",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/GetSignableTransferResponseV1"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/lambdas.APIError"
            }
          }
        }
      }
    },
    "/v2/exchanges/{id}/transfers": {
      "post": {
        "description": "Accepts a transfer request and updates the transfer_status after processing transfer (offramp)",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "exchanges"
        ],
        "summary": "Accepts a transfer request and updates the transfer_status after processing transfer (offramp)",
        "operationId": "createExchangeTransfer",
        "parameters": [
          {
            "description": "Create a transfer",
            "name": "CreateTransferRequest",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreateTransferRequestV1"
            }
          },
          {
            "type": "string",
            "description": "Transaction ID",
            "name": "id",
            "in": "path",
            "required": true
          },
          {
            "type": "string",
            "description": "eth address",
            "name": "x-imx-eth-address",
            "in": "header"
          },
          {
            "type": "string",
            "description": "eth signature",
            "name": "x-imx-eth-signature",
            "in": "header"
          },
          {
            "type": "string",
            "description": "Authorization header",
            "name": "Authorization",
            "in": "header"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/CreateTransferResponseV1"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/lambdas.APIError"
            }
          }
        }
      }
    },
    "/v2/mints": {
      "post": {
        "description": "Mint tokens in a batch with fees",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "mints"
        ],
        "summary": "Mint Tokens V2",
        "operationId": "mintTokens",
        "parameters": [
          {
            "description": "details of tokens to mint",
            "name": "MintTokensRequestV2",
            "in": "body",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/MintRequest"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/MintTokensResponse"
            },
            "headers": {
              "Mint_Limit": {
                "type": "string",
                "description": "The mint limit available to the project for each four-week window."
              },
              "Mint_Limit_Reset": {
                "type": "string",
                "description": "The expiry date of the current four-week window."
              },
              "Mint_Remaining": {
                "type": "string",
                "description": "The amount of mints remaining for current four-week window."
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/APIError"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/APIError"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/APIError"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/APIError"
            }
          }
        }
      }
    },
    "/v2/nft/primary": {
      "get": {
        "description": "Returns a list of NFT primary sales transactions",
        "produces": [
          "application/json"
        ],
        "tags": [
          "nft-checkout-primary"
        ],
        "summary": "Get a list of NFT primary sales transactions",
        "operationId": "getNftPrimaryTransactions",
        "parameters": [
          {
            "type": "integer",
            "description": "Page size of the result",
            "name": "page_size",
            "in": "query"
          },
          {
            "type": "string",
            "description": "Cursor",
            "name": "cursor",
            "in": "query"
          },
          {
            "enum": [
              "transaction_id",
              "status",
              "amount",
              "mint_id"
            ],
            "type": "string",
            "description": "Property to sort by",
            "name": "order_by",
            "in": "query"
          },
          {
            "type": "string",
            "description": "Direction to sort (asc/desc)",
            "name": "direction",
            "in": "query"
          },
          {
            "type": "string",
            "description": "Transaction id",
            "name": "transaction_id",
            "in": "query"
          },
          {
            "type": "string",
            "description": "Contract address of the asset",
            "name": "contract_address",
            "in": "query"
          },
          {
            "type": "string",
            "description": "Ethereum address of the seller",
            "name": "seller_wallet_address",
            "in": "query"
          },
          {
            "type": "string",
            "description": "Ethereum address of the user who wants to create transaction",
            "name": "user_wallet_address",
            "in": "query"
          },
          {
            "enum": [
              "created",
              "waitingPayment",
              "pending",
              "completed",
              "failed"
            ],
            "type": "string",
            "description": "Transaction status",
            "name": "status",
            "in": "query"
          },
          {
            "enum": [
              "moonpay"
            ],
            "type": "string",
            "description": "Checkout provider name",
            "name": "provider",
            "in": "query"
          },
          {
            "type": "string",
            "description": "Minting transaction ID - see mintTokens response",
            "name": "mint_id",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/nftprimarytransaction.ListTransactionsResponse"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/lambdas.APIError"
            }
          }
        }
      },
      "post": {
        "description": "Creates a transaction representing minting an NFT with a card payment.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "nft-checkout-primary"
        ],
        "summary": "Create NFT primary sale transaction",
        "operationId": "createNftPrimary",
        "parameters": [
          {
            "description": "req",
            "name": "CreateAPIRequest",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/nftprimarytransaction.CreateAPIRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/nftprimarytransaction.CreateResponse"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/lambdas.APIError"
            }
          }
[...]
